{% extends 'accounts/main.html' %}
{% block title %}
{% if request.resolver_match.url_name == 'updateorder' %}
    Edit Order
{% else %}
    Add Order    
{% endif %}
{% endblock %}

{% block content %}
    <div class="card card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ formset.label_tag }}
            {{ formset }}
            <button type="submit" class="btn btn-info col-md-2 mt-3">submit</button>
        </form>
    </div>
{% endblock %}    